.dashboard {
    margin-top: 0;
    padding: 0px 30px 100px 105px;
    background-color: white;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
  }

  .dashboard ::selection {
    background: #C0C0C0;
    color: black;
    text-shadow: none;
}

  .dashboard label {
    display: block;
  }

  .dashboard hr{
    margin: 50px 0px 0px 0px;
  }

  .dashboard h2 {
    font-size: 50px;
    font-weight: 350;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }

  .dashboard h3 {
    font-size: xx-large;
    font-weight: 350;
    letter-spacing: 0.8px;
    line-height: 1;
    margin: 60px 0px;
    display: block;
  }

  .dashboard p {
    color: #141414;
    font-size: medium;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    text-align: justify;
    text-indent: 30px;
  }

  .dashboard ol{
    margin: 30px 0px;
  }

  .dashboard ul{
    margin: 30px 0px;
  }

  .dashboard li{
    margin: 10px 0px;
  }

  .dashboard figcaption label p {
    margin-top: 15px;
    font-size: smaller;
  }

  .dashboard button {
    color: black;
    font-weight: 500;
    font-size:medium;
    margin-top: 50px;
    margin-bottom: 0px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  .dashboard button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .dashboard button:hover svg {
    margin-left: 25px;
  }

  .dashboard .mainImage figure {
    display: inline-block;
    margin-top: 60px;
  }

  .dashboard .mainImage {
    margin: 90px 0px 35px 0px;
  }

  .dashboard .mixImage{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dashboard .imageSection {
    display: block;
    width: 100%;
  }

  .dashboard a {
    margin: 10px 30px 10px 0px;
    font-size: smaller;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    text-decoration-thickness: 1px;
  }

  .dashboard label {
    margin: 30px 0px 10px 0px;
    font-size: medium;
  }
  
  
  .dashboard a:link {
    color: #555;
  }
  
  .dashboard a:visited {
    color: #555;
  }
  
  .dashboard a:focus {
    color: #000;
  }
  
  .dashboard a:hover {
    color: #000;
  }
  
  .dashboard a:active {
    color: #555;
  }

  .dashboard .graph {
    display: grid;
    place-items: center;
  }

  .dashboard .monitoringSection {
    margin-bottom: 50px;
  }