.missionStatusNavBar nav.navbar {
    padding: 18px 0px 18px 75px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.005));
    transition:  0.3s ease-in-out;
  }

  .missionStatusNavBar nav.navbar ::selection {
    background: #fff;
    color: black;
    text-shadow: none;
}

.missionStatusNavBar nav.navbar a.navbar-brand{
    margin: 0px 0px 20px 25px;
    padding: 0px 0px;
    width: 55px;
    height: 55px;
  }

  .missionStatusNavBar nav.navbar iframe{
    margin: 0px 0px 0px 50px;
    padding: 0px 0px;
  }
 
  .missionStatusNavBar nav.navbar a.team-name-nav{
    top: 20%;
  }
 
  .missionStatusNavBar nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 500;
    color: #fff !important;
    letter-spacing: 1px;
    padding: 0 30px;
    font-size: smaller;
    opacity: 0.7;
    margin: 5px 3px;
  }
  .missionStatusNavBar nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
  .missionStatusNavBar nav.navbar .navbar-nav a.nav-link.navbar-link.active {
      opacity: 1;
  }
  .missionStatusNavBar span.navbar-text {
      display: flex;
      align-items: center;
  }
  .missionStatusNavBar .social-icon {
      display: inline-block;
      margin-left: 20px;
  }

  .missionStatusNavBar .social-icon a {
      width: 37px;
      height: 37px;
      background: transparent;
      display: inline-flex;
      border-radius: 50%;
      margin-right: 5px;
      align-items: center;
      justify-content: center;
      line-height: 1;
      border: none;
  }

  .missionStatusNavBar .social-icon a:nth-child(1) img{
    width: 40%;
    height: 40%;
    filter: invert();
  }

  .missionStatusNavBar .social-icon a::before {
      content: "";
      width: 37px;
      height: 37px;
      position: absolute;
      background-color: #ffffff;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.3s ease-in-out;
  }
  .missionStatusNavBar .social-icon a:hover::before {
      transform: scale(1);
  }
  .missionStatusNavBar .social-icon a img {
      width: 40%;
      z-index: 1;
      transition: 0.3s ease-in-out;
  }
  .missionStatusNavBar .social-icon a:hover img {
      filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  }
  
  .missionStatusNavBar .navbar-text button {
    font-weight: 500;
    color: #fff;
    border: none;
    padding: 7px 15px 6px 15px;
    font-size: small;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 50px;
    position: relative;
    background-color: black;
    transition: 0.3s ease-in-out;
  }
  .missionStatusNavBar .navbar-text button span {
    z-index: 1;
  }
  .missionStatusNavBar .navbar-text button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .missionStatusNavBar .navbar-text button:hover {
    background-color: transparent;
    color: #000;
  }
  .missionStatusNavBar .navbar-text button:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
  }
  .missionStatusNavBar nav.navbar .navbar-toggler:active,
  .missionStatusNavBar nav.navbar .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
  }
  .missionStatusNavBar nav.navbar .navbar-toggler-icon {
    margin-top: 5px;
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 2px solid #fff;
    transition: all 300ms linear;
    top: -2px;
  }
  .missionStatusNavBar nav.navbar .navbar-toggler-icon:focus {
      border-bottom: 2px solid #fff;
  }
  .missionStatusNavBar nav.navbar .navbar-toggler-icon:after,
  .missionStatusNavBar nav.navbar .navbar-toggler-icon:before {
      width: 24px;
      position: absolute;
      height: 2px;
      background-color: #fff;
      top: 0;
      left: 0;
      content: '';
      z-index: 2;
      transition: all 300ms linear;
  }
  .missionStatusNavBar nav.navbar .navbar-toggler-icon:after {
      top: 8px;
  }
  .missionStatusNavBar nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
      transform: rotate(45deg);
      background-color: #fff;
      height: 2px;
  }
  .missionStatusNavBar nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
      transform: translateY(8px) rotate(-45deg);
      background-color: #fff;
      height: 2px;
  }
  .missionStatusNavBar nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
      border-color: transparent;
  }
  
/*--- SCROLLED --- */

.missionStatusNavBar nav.navbar.scrolled {
    padding: 0px 0px 5px 75px;
    background-color: black;
  }

  .missionStatusNavBar nav.navbar.scrolled .vvd{
    border: 1px solid white;
    margin-top: 5px;
  }
  
  .missionStatusNavBar nav.navbar.scrolled a.navbar-brand{
    margin: 5px 0px 5px 25px;
    padding: 0px 0px;
    width: 55px;
    height: 55px;
  }

  .missionStatusNavBar nav.navbar.scrolled a.team-name-nav{
    top: 20%;
    display:none;
  }